 *{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(8, 1, 1, 0.674);
    color: rgb(220, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;


}
.container{
    width: 80%;
    max-width: 800px;
    margin: auto;
    background-color: rgb(168, 159, 159);
    padding: 20px;
    border-radius: 10px;
}
h1{
font-size: 2em;
margin-bottom: 1em;
}
h2{
    font-size: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 1em;
}
#countdown{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-size: 2em;
}
#countdown div{
    padding: 30px;
    background: white;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}
span{
    font-size: xx-large;
}
.progress-container{
    background: white;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    overflow: hidden;
}
#progress-bar{
    background: greenyellow;
    width: 60%;
    height: 100%;
    border-radius: 5px;
    transition: width 1s ease-in-out;
    
}